# Compile Source #
##################


# .jar Files #
##############
**.jar

# .class Files #
################
**.class

# build dir #
#############
/build
/target

# misc IDE Files #
##################
.settings*
