* {
	font: 16px verdana, arial, helvetica, sans-serif;	
}

table {
	width: 75%;
}

textarea {
	width: 400px;
	height: 200px;
	vertical-align: top;
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}

div.errors ul {
    list-style: none;
    padding: 0;
}

div.errors li {
    line-height: 16px;
    padding-left: 30px;
}